:root {
  --primary-color: #00BFFF;
  --danger-color: #DC143C;
  --white: #FFFFFF;
  --text-color: #FFFFFF;
  --video-bg: #000000;
  --black: #000000;
  --highlight: #FFD700;
  --blue-primary: #0099ff;
  --dark-primary: #005fdb;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body{
  margin: 0;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  min-height: 100vh;
  width: 100%;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

h1 {
  font-size: 19pt;
  font-weight: normal;
  letter-spacing: -1.68px;
  margin: 0;
}

span{
  color: rgb(102, 102, 102);
  font-size: 11pt;
}